<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop
          http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 定义目标对象 -->
    <bean id="myService" class="com.gage.base.aop.MyService"/>

    <!-- 定义切面 -->
    <bean id="loggingAspect" class="com.gage.base.aop.LoggingAspectXML"/>
    <!-- 启动 Spring 容器 -->
<!--    <context:component-scan base-package="com.gage" />-->

    <!-- 配置 AOP -->
    <aop:config>
        <aop:aspect ref="loggingAspect">
            <aop:before method="beforeAdvice" pointcut="execution(* com.gage.base.aop.MyService.doSomething(..))"/>
            <aop:after method="afterAdvice" pointcut="execution(* com.gage.base.aop.MyService.doSomething(..))"/>
        </aop:aspect>
    </aop:config>


</beans>
